.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
  font-size: 36px;
  line-height: 51px;
  font-style: normal;
  }
  .feynman__link:hover {
  transition: 1s linear 1s;    
  opacity: 0.33;
  }