.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative; /* выше установили ограничения для секции */
}
.logo {
  width: 228px;
  height: 32px;
}
.logo_place_header {
position: absolute;
top: 30px;
left: 64px;

}
.title {
  position: absolute;
  left: 64px;
  max-width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-style: normal;
  z-index: 4;
  
  
}
.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
  z-index: 5;
}
.header__link {
  color: blue;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  background-color: #2f80ed;
  z-index: 1;
}
.header__main-pic {
  position: absolute;
  height: 608px;
  width: 756px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}
.description {
  width: 100%;
}
.two-columns {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 80%;
  min-width: 784px;
  justify-content: space-between; 
}
.brief {
  color: blue;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-style: normal;

}
.main-text {
  width: 80%;
  min-width: 784px;
  margin-top: 0;
}
.paragraph {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 34px;
  font-style: normal;
}

.paragraph__center {
  margin-top:30px;
  margin-bottom:30px;
}
.word {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;

}

.digits {
  width: 100%;
  min-height: 700px;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.section-title {
  width: 60%;
  padding:0;
  margin: 100px 0 0 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}
.section-subtitle {
  width: 60%;
  padding:0;
  margin: 20px 0 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  top: 100px;
  text-align: center;
}

.table {
 
  width: 1100px;
  list-style-type: none;
  padding:0;
  margin: 0 auto 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.cell {
  width: 250px;
  margin-top: 60px;
  
}
.heading {
  margin:0;
  padding:0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  }

.text {
  margin:20px 0 0 0;
  padding:0;
  font-size: 18px;
  line-height: 1.2;
  font-style: normal;
}


.feynman {

  min-height: 890px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content:center;
  position: relative; 
}
.secondary-pic {
  position: absolute;
  height: 637px;
  width: 867px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}
.title-feynman {
  position: absolute;
  width: 648px;
  margin:0;
  justify-content: center;
  font-size: 120px;
  top: 100px;
  line-height:1.15;
  font-weight: 600;
  text-align: center;
  z-index: 4;
}
.subtitle-feynman {
  position: absolute;
  margin:0;
  justify-content: center;
  z-index: 4;
  font-size: 36px;
  line-height:51px;
  font-style: normal;
}
.feynman-link {
  position: absolute;
  top:50%;
  right: 50px;
  color: blue;
  font-size: 36px;
  line-height:51px;
  font-style: normal;

}

.kayfman {
  width: 100%;
  background-color: #1f1f1f;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  overflow: hidden;
}
.section-title__dark {
  color: white;
  }
  
.section-subtitle__dark {  
  color: white;
  }

.table__cell_theme_dark {
  
  /* width: 100px; */
  color: white;
  z-index: 4;
  margin-top: 80px;
  margin-bottom: 90px;
}
.table__cell_dark {
  width: 200px;
}

.triangle-pic {
 width: 877px;
 height: 877px;
 position:absolute;
 right: -210px;
 top: 0px;
}
.footer {
  width: 100%;
  min-height: 350px;
  background-color: #1f1f1f;
}

.columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.logo_place_footer {
}
.column_content_copyright {
  margin-top: 60px;
  margin-bottom: 40px;
  flex-basis: 711px;
  min-height:350px;
}
.column_content_info {
  margin-top: 60px;
  margin-bottom: 40px;
  color: aliceblue;
}
.footer__column-heading {
  font-size: 18px;
  font-weight: 600;
  line-height:30px;
  color: aliceblue;
}
.footer__author {
  position:absolute;
  left: 0;
  bottom: 18px;
  margin-top: 18px;
  font-size: 18px;
  font-style: normal;
  line-height:25px;
  color: aliceblue;
}
.column_content_social {
  margin-top: 60px;
  margin-bottom: 40px;
  color: aliceblue;
}
