.khan__buy-link {
  margin: 0 0 0 48px;
  font-size: 30px;
  line-height: 42px;
  font-style: normal;
  color:#2f80ed;
  text-decoration: none;
  }
  .khan__buy-link:hover {
  transition: 1s linear 1s;
  opacity: 0.33;
  }